{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar.css') }}">
    <link rel="script" type="text/js" href="{{ url_for('static',filename='js/script.js') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
{% endblock %}
 <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800' rel='stylesheet' type='text/css'>

<!-- <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger">
        <div></div>
    </div>
    <div class="menu">
        <div>
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul> -->
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
                    <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                    {% else %}
                    <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
                    {%endif%}
                </ul>
<!-- 
            </div>
        </div>
    </div>
</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>Welcome</h1>
        <p>TO PITCH WEBSITE.
            1 minute can make or break you.
        </p>
        
    </div>
</header>

     -->
             

